
// رنگ اصلی
$color-primary: #00883c;
// رنگ اصلی دوم
$color-secondary: #bcc9ad;
// رنگ دکمه
$color-btn-one: #ffc000;
$color-btn-two: #ffea01;
$color-btn-three: rgb(68,68,68);
$color-two: #444444;

// بکگراند تخفیف
$color-three: #de331f;
// رنگ متن های سایت
$color-text : #ffffff;

// رنگ متن فوتر سایت
$color-text-footer: #00883c;
