@mixin  centering {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}