
@import "./colors";

$margin-sections : 20px 0;

$height-one : 40px;

$border-one : 2px solid $color-primary;
$border-three : 4px solid $color-primary;
$border-four : 4px solid $color-text;
$border-five : 2px solid $color-text;
$border-six : 3px solid $color-text;
$border-two : 1px solid $color-primary;

$border-radius-one : 15px;
$border-radius-two : 25px;
$border-radius-three : 10px;