@charset "UTF-8";
* {
  box-sizing: border-box;
}

@font-face {
  font-family: iranSans;
  src: url("../font/IRANSansWeb.woff") format("woff"), url("../font/IRANSansWeb.ttf") format("ttf"), url("../font/IRANSansWeb.woff2") format("woff2"), url("../font/IRANSansWeb.eot") format("eot");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: iranSans;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video {
  max-width: 100%;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-product {
  height: 100%;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 5px;
}
.card-product .row {
  height: 100%;
}
.card-product .image-card {
  height: 100%;
}
.card-product .image-card img {
  height: 100%;
}
.card-product .price-card {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 80%;
}
.card-product .price-card .view img {
  width: 40%;
}
.card-product .price-card .off .inner-off {
  padding: 2px 4px;
  background-color: red;
  border-radius: 10px;
  font-weight: bold;
  color: #ffffff;
}
.card-product .price-card .off-price {
  font-weight: bold;
}
.card-product .price-card .price {
  text-decoration: line-through;
  color: #bcc9ad;
}
.card-product .title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 80%;
}
.card-product .title-card .name-product {
  font-size: 14px;
}
.card-product .title-card .btn-product {
  width: 100%;
}
.card-product .title-card .btn-product button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  width: 100%;
  border-radius: 30px;
  text-align: left;
  position: relative;
  z-index: 1;
  color: #ffffff;
  background-color: #444444;
}
.card-product .title-card .btn-product button span {
  font-weight: bold;
}
.card-product .title-card .btn-product button::after {
  content: "";
  display: block;
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00883c;
  border-radius: 30px;
  z-index: -1;
}
.card-product .title-card .btns-product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-product .title-card .btns-product img {
  width: 14px;
  transition: all 500ms;
}
.card-product .title-card .btns-product img:hover {
  transform: scale(1.1);
}

.swiper-slide:nth-child(odd) .card-article .overlay {
  background-color: rgba(0, 136, 60, 0.5);
}
.swiper-slide:nth-child(odd) .card-article .btn-article a:hover {
  box-shadow: 0px 1px 11px -1px #ffffff;
}
.swiper-slide:nth-child(even) .card-article .overlay {
  background-color: rgba(236, 240, 241, 0.9);
}
.swiper-slide:nth-child(even) .card-article .title {
  color: #00883c;
}
.swiper-slide:nth-child(even) .card-article .des-article {
  color: #00883c;
}
.swiper-slide:nth-child(even) .card-article .date {
  color: #00883c;
}
.swiper-slide:nth-child(even) .card-article .btn-article a {
  background-color: #00883c;
  color: #ffffff;
}
.swiper-slide:nth-child(even) .card-article .btn-article a:hover {
  box-shadow: 0px 1px 15px -1px #00883c;
}

.card-article {
  max-width: 300px;
  height: 550px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/سایت-دکتر-دوستی-شعار_0031_AdobeStock_271247232.png");
  background-size: cover;
  position: relative;
  transition: all 200ms;
}
.card-article:hover {
  transform: scale(1.02);
}
.card-article .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 3px solid #ffffff;
  z-index: 1;
  box-shadow: 0px 1px 11px -1px #000000;
}
.card-article .image-card {
  z-index: 2;
}
.card-article .image-card img {
  border: 3px solid #ffffff;
  border-radius: 15px;
  width: 100%;
}
.card-article .title {
  font-size: 24px;
  font-weight: bold;
  z-index: 2;
  color: #ffffff;
}
.card-article .des-article {
  font-size: 14px;
  line-height: 1.2rem;
  z-index: 2;
  color: #ffffff;
}
.card-article .down-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  z-index: 2;
}
.card-article .down-article .date {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  flex-direction: column;
  font-size: 10px;
  color: #ffffff;
}
.card-article .down-article .btn-article a {
  padding: 8px 15px;
  background-color: #ffffff;
  border-radius: 25px;
  color: #00883c;
  transition: 500ms all;
}

@media (max-width: 992px) {
  .card-product .price-card {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .card-product .price-card {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .card-product .price-card {
    font-size: 9px;
    height: 100%;
  }
  .card-product .title-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .card-product .title-card .name-product {
    font-size: 8px;
  }
  .card-product .title-card .btn-product {
    width: 100%;
  }
  .card-product .title-card .btn-product button {
    padding: 5px 10px;
    font-size: 8px;
  }
  .card-product .title-card .btns-product {
    font-size: 8px;
  }
  .card-product .title-card .btns-product img {
    width: 10px;
  }
}
.banner-up img {
  width: 100%;
  max-height: 100px;
}

/*استایل برای نوبار سایت*/
.header {
  margin: 20px 0;
  /*استایل برای منو بغل در حالت موبایل*/
  /*استایل برای منو بغل در حالت موبایل*/
  /*استایل برای منو سبد خرید*/
  /*استایل برای منو سبد خرید*/
  /*استایل برای منو فیکس درحالت موبایل سایت*/
  /*استایل برای منو فیکس درحالت موبایل سایت*/
}
.header .menu-m {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 50;
  transition: all 500ms;
}
.header .menu-m .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 136, 60, 0.2);
  opacity: 0;
  transition: all 1000ms 500ms;
  z-index: -1;
}
.header .menu-m.active {
  right: 0;
}
.header .menu-m.active .overlay {
  opacity: 1;
}
.header .menu-m .inner-menu-m {
  height: 100vh;
  background-color: #bcc9ad;
}
.header .cart-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 50;
  transition: all 500ms;
}
.header .cart-menu .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 136, 60, 0.2);
  opacity: 0;
  transition: all 1000ms 500ms;
  z-index: -1;
}
.header .cart-menu.active {
  left: 0;
}
.header .cart-menu.active .overlay {
  opacity: 1;
}
.header .cart-menu .inner-cart-menu {
  height: 100vh;
  background-color: #bcc9ad;
  margin-right: auto;
  position: relative;
}
.header .cart-menu .inner-cart-menu .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  font-weight: bold;
  position: relative;
  width: 100%;
}
.header .cart-menu .inner-cart-menu .title::after {
  content: "";
  display: block;
  width: 80%;
  height: 1.5px;
  background-color: #ffffff;
  position: absolute;
  top: calc(100% + 1px);
  left: 10%;
}
.header .cart-menu .inner-cart-menu .title .close-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 35px;
  color: #ffffff;
  cursor: pointer;
}
.header .cart-menu .inner-cart-menu .content-cart {
  width: 100%;
  height: 70vh;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 15px;
}
.header .cart-menu .inner-cart-menu .content-cart .card-cart {
  padding: 5px;
  background-color: #ffffff;
  position: relative;
  border-radius: 15px;
  margin: 10px 0;
}
.header .cart-menu .inner-cart-menu .content-cart .card-cart .inner-card-cart .image {
  width: 30%;
}
.header .cart-menu .inner-cart-menu .content-cart .card-cart .inner-card-cart .image img {
  width: 100%;
}
.header .cart-menu .inner-cart-menu .content-cart .card-cart .inner-card-cart .price {
  width: 70%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.header .cart-menu .inner-cart-menu .content-cart .card-cart .inner-card-cart .price span {
  background-color: #00883c;
  padding: 8px;
  color: #ffffff;
  border-radius: 15px;
  font-size: 0.8em;
}
.header .cart-menu .inner-cart-menu .content-cart .card-cart .inner-card-cart .close-card-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 2%;
  width: 25px;
  height: 25px;
  background-color: red;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.header .cart-menu .inner-cart-menu .price-cart {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.header .cart-menu .inner-cart-menu .price-cart .all-price {
  padding: 20px 0;
  font-weight: bold;
  color: #00883c;
  text-align: center;
}
.header .cart-menu .inner-cart-menu .price-cart .btns-cart {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.header .cart-menu .inner-cart-menu .price-cart .btns-cart a {
  color: #ffffff;
  display: block;
  margin: 0 10px;
}
.header .cart-menu .inner-cart-menu .price-cart .btns-cart a:hover {
  font-size: 1.05em;
  transition: all 500ms;
}
.header .container .right-navbar {
  padding: 0 0 0 10px;
}
.header .container .right-navbar .right-up-navbar {
  height: 70px;
}
.header .container .right-navbar .right-up-navbar .row {
  align-items: center;
}
.header .container .right-navbar .right-up-navbar .content-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
}
.header .container .right-navbar .right-up-navbar .content-hamburger .hamburger-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #00883c;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  z-index: 55;
  transition: all 500ms;
}
.header .container .right-navbar .right-up-navbar .content-hamburger .hamburger-menu .line {
  width: 100%;
  height: 5px;
  background-color: #bcc9ad;
  transition: all 500ms 200ms;
}
.header .container .right-navbar .right-up-navbar .content-hamburger .hamburger-menu .line:nth-child(2) {
  opacity: 1;
}
.header .container .right-navbar .right-up-navbar .content-hamburger .hamburger-menu.active {
  position: fixed;
  top: 20px;
}
.header .container .right-navbar .right-up-navbar .content-hamburger .hamburger-menu.active .line {
  margin-right: 22px;
}
.header .container .right-navbar .right-up-navbar .content-hamburger .hamburger-menu.active .line:nth-child(1) {
  transform: rotate(135deg) translateY(-17px);
}
.header .container .right-navbar .right-up-navbar .content-hamburger .hamburger-menu.active .line:nth-child(2) {
  transform: translateX(-30px);
  opacity: 0;
}
.header .container .right-navbar .right-up-navbar .content-hamburger .hamburger-menu.active .line:nth-child(3) {
  transform: rotate(-135deg) translateY(17px);
}
.header .container .right-navbar .right-up-navbar .logo-navbar img {
  width: 100%;
  height: 70px;
}
.header .container .right-navbar .right-up-navbar .search-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.header .container .right-navbar .right-up-navbar .search-navbar .search-inner-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  outline: 2px solid #00883c;
  border-radius: 15px;
}
.header .container .right-navbar .right-up-navbar .search-navbar .search-inner-navbar .form-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .container .right-navbar .right-up-navbar .search-navbar .search-inner-navbar .form-navbar .btn-search-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 40px;
  height: 40px;
  background-color: #00883c;
  border: none;
}
.header .container .right-navbar .right-up-navbar .search-navbar .search-inner-navbar .form-navbar .group-input-navbar {
  width: calc(100% - 195px);
  height: 100%;
}
.header .container .right-navbar .right-up-navbar .search-navbar .search-inner-navbar .form-navbar .group-input-navbar .input-navbar {
  width: 100%;
  height: 40px;
  border: none;
}
.header .container .right-navbar .right-up-navbar .search-navbar .search-inner-navbar .form-navbar .group-input-navbar .input-navbar:focus {
  border: none;
  outline: none;
}
.header .container .right-navbar .right-up-navbar .search-navbar .search-inner-navbar .form-navbar .group-input-navbar .input-navbar::placeholder {
  color: #00883c;
}
.header .container .right-navbar .right-up-navbar .search-navbar .search-inner-navbar .form-navbar .grouping-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #00883c;
  overflow: hidden;
}
.header .container .right-navbar .right-up-navbar .search-navbar .search-inner-navbar .form-navbar .grouping-navbar .grouping-navbar-select {
  border: none;
  width: 100%;
  font-weight: bold;
  color: #00883c;
}
.header .container .right-navbar .right-up-navbar .search-navbar .search-inner-navbar .form-navbar .grouping-navbar .grouping-navbar-select .option {
  padding: 10px 0;
  height: 20px;
  background-color: rgba(255, 0, 0, 0.5);
}
.header .container .right-navbar .right-up-navbar .account-navbar {
  padding: 0 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container .right-navbar .right-up-navbar .account-navbar .inner-account-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00883c;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  padding: 5px 0;
}
.header .container .right-navbar .right-up-navbar .account-navbar .inner-account-navbar img {
  width: 30px;
  height: 100%;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(134deg) brightness(106%) contrast(101%);
}
.header .container .right-navbar .right-up-navbar .account-navbar .inner-account-navbar .text-inner-account {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
.header .container .right-navbar .right-down-navbar {
  height: 70px;
  padding: 10px 0;
}
.header .container .right-navbar .right-down-navbar .row {
  height: 100%;
}
.header .container .right-navbar .right-down-navbar .menu-navbar {
  height: 100%;
  padding: 0 0 0 5px;
}
.header .container .right-navbar .right-down-navbar .menu-navbar .inner-menu-navbar {
  height: 100%;
  border-radius: 15px;
  border: 2px solid #00883c;
}
.header .container .right-navbar .right-down-navbar .menu-navbar .inner-menu-navbar .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 100%;
}
.header .container .right-navbar .right-down-navbar .menu-navbar .inner-menu-navbar .menu .item-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header .container .right-navbar .right-down-navbar .menu-navbar .inner-menu-navbar .menu .item-menu .item-menu-link {
  color: #00883c;
  transition: all 500ms;
  position: relative;
}
.header .container .right-navbar .right-down-navbar .menu-navbar .inner-menu-navbar .menu .item-menu .item-menu-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: #00883c;
  position: absolute;
  bottom: -5px;
  right: 50%;
  transition: all 500ms;
  border-radius: 3px;
}
.header .container .right-navbar .right-down-navbar .menu-navbar .inner-menu-navbar .menu .item-menu .item-menu-link:hover {
  font-size: 1.2rem;
}
.header .container .right-navbar .right-down-navbar .menu-navbar .inner-menu-navbar .menu .item-menu .item-menu-link:hover::after {
  width: 100%;
  right: 0;
}
.header .container .right-navbar .right-down-navbar .btns-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 0;
}
.header .container .right-navbar .right-down-navbar .btns-navbar .cart,
.header .container .right-navbar .right-down-navbar .btns-navbar .health {
  position: relative;
  height: 50px;
  padding: 10px;
  background-color: #00883c;
  border-radius: 15px;
  cursor: pointer;
}
.header .container .right-navbar .right-down-navbar .btns-navbar .cart .number-cart,
.header .container .right-navbar .right-down-navbar .btns-navbar .health .number-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  padding: 3px;
  border-radius: 50%;
  background-color: #bcc9ad;
  color: #ffffff;
}
.header .container .right-navbar .right-down-navbar .btns-navbar img {
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(134deg) brightness(106%) contrast(101%);
}
.header .container .left-navbar {
  padding: 10px 0;
  height: 140px;
}
.header .container .left-navbar .row {
  height: 100%;
}
.header .container .left-navbar .row .item-left-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px 0 0;
}
.header .container .left-navbar .row .item-left-navbar .inner-item-left-navbar {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 10px;
}
.header .container .left-navbar .row .item-left-navbar .inner-item-left-navbar img {
  width: 100%;
  height: 100%;
}
.header .menu-fixed-mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 136, 60, 0.9);
  width: 100%;
  height: 70px;
  z-index: 15;
}
.header .menu-fixed-mobile .container {
  height: 100%;
}
.header .menu-fixed-mobile .row {
  height: 100%;
  width: 100%;
}
.header .menu-fixed-mobile .inner-menu-fixed {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.header .menu-fixed-mobile .inner-menu-fixed img {
  width: 15px;
}
.header .menu-fixed-mobile .inner-menu-fixed .centering {
  flex-direction: column;
}
.header .menu-fixed-mobile .inner-menu-fixed .centering .title {
  margin-top: 5px;
  color: #ffffff;
}

/*استایل برای نوبار سایت*/
/*Start Main*/
.main {
  margin: 20px 0;
}
.main .container {
  padding: 0;
  /*استایل برای اسلایدر معرفی محصولات*/
  /*استایل برای اسلایدر معرفی محصولات*/
  /* استایل برای قسمت سرویس ها */
  /* استایل برای قسمت سرویس ها */
  /* استایل برای قسمت محصولات پوستی */
  /* استایل برای قسمت محصولات پوستی */
  /* استایل برای قسمت محصولات تخفیف دار */
  /* استایل برای قسمت محصولات تخفیف دار */
  /*  استایل برای قسمت اینستاگرام*/
  /*  استایل برای قسمت اینستاگرام*/
  /*استایل برای قسمت معرفی جشنواره*/
  /*استایل برای قسمت معرفی جشنواره*/
  /*قسمت مکمل ورزشی و محصولات آرایشی*/
  /*قسمت مکمل ورزشی و محصولات آرایشی*/
  /*قسمت مقالات*/
  /*قسمت مقالات*/
}
.main .container .slider-introduction {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.main .container .slider-introduction .swiper-one {
  direction: rtl;
  width: 100%;
  height: 100%;
}
.main .container .slider-introduction .swiper-one img {
  width: 100%;
  height: 100%;
}
.main .container .slider-introduction .swiper-one span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #00883c;
}
.main .container .slider-introduction .swiper-one .swiper-scrollbar-drag {
  background-color: #00883c;
}
.main .container .services {
  margin: 20px 0;
}
.main .container .services .inner-services {
  margin: 0 auto;
  background-color: #bcc9ad;
  border-radius: 10px;
  position: relative;
  z-index: -1;
}
.main .container .services .inner-services::after {
  content: "";
  display: block;
  position: absolute;
  top: 44%;
  left: 7.5%;
  width: 85%;
  height: 12%;
  background-color: #ffffff;
  z-index: -1;
  border-radius: 25px;
}
.main .container .services .inner-services img {
  height: 60%;
}
.main .container .skin-products {
  margin: 20px 0;
}
.main .container .skin-products .inner-skin-products .image-skin-products:nth-child(1) {
  padding: 0 0 0 10px;
}
.main .container .skin-products .inner-skin-products .image-skin-products:nth-child(2) {
  padding: 0 10px 0 0;
}
.main .container .super-offer-products .inner-super-offer {
  position: relative;
}
.main .container .super-offer-products .inner-super-offer .slider-offer {
  position: absolute;
  top: 0;
  left: 2.5%;
  width: 62%;
  height: 100%;
  padding: 2% 0;
}
.main .container .super-offer-products .inner-super-offer .slider-offer .swiper-slide {
  height: 50%;
  padding: 5px;
}
.main .container .super-offer-products .inner-super-offer .slider-offer .swiper-slide .swiper-inner-off {
  height: 100%;
}
.main .container .instagram {
  margin: 20px 0;
}
.main .container .festival {
  margin: 20px 0;
}
.main .container .festival .inner-festival {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-image: url("../images/9999.png");
  padding: 2.5%;
  z-index: 1;
}
.main .container .festival .inner-festival .cover {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.main .container .festival .inner-festival .festival-up {
  z-index: 5;
  min-height: 200px;
  display: flex;
}
.main .container .festival .inner-festival .festival-up .header-festival {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-right: auto;
}
.main .container .festival .inner-festival .festival-up .header-festival .des-festival {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 10px;
}
.main .container .festival .inner-festival .festival-up .header-festival .des-festival .inner-des-festival {
  border-radius: 15px;
  background-color: red;
  padding: 10px;
  margin-top: auto;
  background: white;
  background: linear-gradient(90deg, transparent 0%, #1c1c1c 70%, #1c1c1c 100%, white 100%);
  color: #ffffff;
}
.main .container .festival .inner-festival .festival-up .header-festival .des-festival .inner-des-festival .content-btn-festival {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 5px 0;
}
.main .container .festival .inner-festival .festival-up .header-festival .des-festival .inner-des-festival .content-btn-festival .btn-festival {
  display: inline-block;
  margin: auto 0;
  border-radius: 25px;
  background-color: #ffea01;
  padding: 8px 8px 8px 18px;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.main .container .festival .inner-festival .festival-up .header-festival .des-festival .inner-des-festival .content-btn-festival .btn-festival::after {
  content: "";
  display: block;
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0;
  border-radius: 25px;
  background-color: #ffc000;
  z-index: -1;
}
.main .container .festival .inner-festival .festival-down {
  height: 300px;
}
.main .container .festival .inner-festival .festival-down .slider-festival {
  height: 100%;
}
.main .container .festival .inner-festival .festival-down .slider-festival .swiper-slide {
  height: 150px;
  margin-top: 0 !important;
}
.main .container .festival .inner-festival .festival-down .slider-festival .swiper-slide .swiper-inner-off {
  height: calc(100% - 20px);
}
.main .container .sports-supplement {
  margin: 20px 0;
}
.main .container .sports-supplement .supplement-section {
  position: relative;
}
.main .container .sports-supplement .supplement-section:nth-child(1) {
  padding: 0 0 0 10px;
}
.main .container .sports-supplement .supplement-section:nth-child(2) {
  padding: 0 10px 0 0;
}
.main .container .sports-supplement .supplement-section .slider-supplement {
  position: absolute;
  top: 0%;
  width: 50%;
  height: 100%;
}
.main .container .sports-supplement .supplement-section .slider-supplement.slider-supplement-1 {
  left: calc(2.5% + 10px);
}
.main .container .sports-supplement .supplement-section .slider-supplement.slider-supplement-2 {
  left: 2.5%;
}
.main .container .sports-supplement .supplement-section .slider-supplement .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.main .container .sports-supplement .supplement-section .slider-supplement .swiper-slide .title-card {
  height: 100%;
}
.main .container .sports-supplement .supplement-section .slider-supplement .swiper-slide .price-card {
  height: 100%;
}
.main .container .sports-supplement .supplement-section .slider-supplement .swiper-slide .swiper-inner-off {
  height: 65%;
}
.main .container .sports-supplement .supplement-section .slider-supplement .swiper-button-prev,
.main .container .sports-supplement .supplement-section .slider-supplement .swiper-button-next {
  color: #ffffff;
  left: 45%;
  right: 45%;
  transform: rotate(90deg) scale(0.7);
}
.main .container .sports-supplement .supplement-section .slider-supplement .swiper-button-next {
  top: 6%;
}
.main .container .sports-supplement .supplement-section .slider-supplement .swiper-button-prev {
  top: 94%;
}
.main .container .articles .inner-articles .title-articles {
  display: flex;
  justify-content: center;
}
.main .container .articles .inner-articles .title-articles .title {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #00883c;
}
.main .container .articles .inner-articles .title-articles .right-title span {
  font-weight: bold;
}
.main .container .articles .inner-articles .title-articles .right-title span:nth-child(10) {
  font-size: 26px;
}
.main .container .articles .inner-articles .title-articles .right-title span:nth-child(9) {
  font-size: 24px;
}
.main .container .articles .inner-articles .title-articles .right-title span:nth-child(8) {
  font-size: 22px;
}
.main .container .articles .inner-articles .title-articles .right-title span:nth-child(7) {
  font-size: 20px;
}
.main .container .articles .inner-articles .title-articles .right-title span:nth-child(6) {
  font-size: 18px;
}
.main .container .articles .inner-articles .title-articles .right-title span:nth-child(5) {
  font-size: 16px;
}
.main .container .articles .inner-articles .title-articles .right-title span:nth-child(4) {
  font-size: 14px;
}
.main .container .articles .inner-articles .title-articles .right-title span:nth-child(3) {
  font-size: 12px;
}
.main .container .articles .inner-articles .title-articles .right-title span:nth-child(2) {
  font-size: 10px;
}
.main .container .articles .inner-articles .title-articles .right-title span:nth-child(1) {
  font-size: 10px;
}
.main .container .articles .inner-articles .title-articles .left-title span {
  font-weight: bold;
}
.main .container .articles .inner-articles .title-articles .left-title span:nth-child(1) {
  font-size: 26px;
}
.main .container .articles .inner-articles .title-articles .left-title span:nth-child(2) {
  font-size: 24px;
}
.main .container .articles .inner-articles .title-articles .left-title span:nth-child(3) {
  font-size: 22px;
}
.main .container .articles .inner-articles .title-articles .left-title span:nth-child(4) {
  font-size: 20px;
}
.main .container .articles .inner-articles .title-articles .left-title span:nth-child(5) {
  font-size: 18px;
}
.main .container .articles .inner-articles .title-articles .left-title span:nth-child(6) {
  font-size: 16px;
}
.main .container .articles .inner-articles .title-articles .left-title span:nth-child(7) {
  font-size: 14px;
}
.main .container .articles .inner-articles .title-articles .left-title span:nth-child(8) {
  font-size: 12px;
}
.main .container .articles .inner-articles .title-articles .left-title span:nth-child(9) {
  font-size: 10px;
}
.main .container .articles .inner-articles .title-articles .left-title span:nth-child(10) {
  font-size: 10px;
}
.main .container .articles .inner-articles .slider-article {
  padding: 20px 0px 20px 0;
}
.main .container .articles .inner-articles .slider-article .inner-slider-article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container .articles .inner-articles .btn-article-all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.main .container .articles .inner-articles .btn-article-all a {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #00883c;
  color: #ffffff;
  transition: all 500ms;
}
.main .container .articles .inner-articles .btn-article-all a:hover {
  box-shadow: 0px 1px 15px -1px #00883c;
}

/*End Main*/
/*Start Footer*/
.footer .container .header-footer {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00883c;
  padding: 20px 0;
  border-radius: 15px;
}
.footer .container .header-footer .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container .header-footer .menu .item-menu .item-link {
  color: #ffffff;
  position: relative;
}
.footer .container .header-footer .menu .item-menu .item-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  bottom: -5px;
  right: 50%;
  transition: all 500ms;
  border-radius: 3px;
}
.footer .container .header-footer .menu .item-menu .item-link:hover::after {
  width: 100%;
  right: 0;
}
.footer .company span {
  font-weight: bold;
  font-size: 1.1em;
}
.footer .company .up {
  padding: 15px 0;
  background-color: #00883c;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
.footer .company .down {
  padding: 15px 0;
  background-color: #004621;
  text-align: center;
  font-size: 20px;
  color: #00883c;
}

/*End Footer*/
@media (max-width: 992px) {
  .main .container .sports-supplement .supplement-section:nth-child(1) {
    padding: 0 0 0;
  }
  .main .container .sports-supplement .supplement-section:nth-child(2) {
    padding: 0 0 0;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .header .container .right-navbar {
    padding: 0 20px;
  }

  .main .container {
    padding: 0 20px;
  }
  .main .container .skin-products .inner-skin-products .image-skin-products:nth-child(1) {
    padding: 0 0 0;
  }
  .main .container .skin-products .inner-skin-products .image-skin-products:nth-child(2) {
    padding: 0 0 0;
    margin-top: 10px;
  }
  .main .container .super-offer-products .inner-super-offer .slider-offer .swiper-wrapper {
    align-items: center;
  }
  .main .container .super-offer-products .inner-super-offer .slider-offer .swiper-slide {
    height: 90%;
  }
  .main .container .festival .inner-festival {
    padding: 50px 2.5% 0;
  }
  .main .container .festival .inner-festival .festival-up .header-festival {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin-right: auto;
    width: 100%;
  }
  .main .container .festival .inner-festival .festival-up .header-festival .des-festival {
    width: 85%;
    margin-right: auto;
  }
  .main .container .festival .inner-festival .festival-down {
    height: 150px;
  }
  .main .container .sports-supplement .supplement-section:nth-child(1) {
    padding: 0 0 0;
  }
  .main .container .sports-supplement .supplement-section:nth-child(2) {
    padding: 0 0 0;
    margin-top: 10px;
  }
  .main .container .services .inner-services img {
    height: 50%;
  }
  .main .container .articles .inner-articles .title-articles {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .main .container .articles .inner-articles .title-articles .title {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }

  .footer {
    margin-bottom: 70px;
  }
  .footer .company .up {
    font-size: 12px;
  }
  .footer .company .down {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .header .cart-menu .inner-cart-menu .content-cart .card-cart .inner-card-cart .price {
    font-size: 0.6em;
  }
  .header .cart-menu .inner-cart-menu .price-cart .all-price {
    font-size: 0.8em;
  }

  .footer {
    margin-bottom: 70px;
  }
  .footer .company .up {
    font-size: 10px;
  }
  .footer .company .down {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
